@import url('https://fonts.googleapis.com/css?family=Roboto');

button{
    width: 300px;
    margin: 0px 0 0;
}
.btn{
    background-color: #fff;
    color: #098bdc;
    height: 60px;
    font-size: 19px;
    padding: 7px 14px;
    border-radius: 5px;
    border-bottom: 4px solid #0a9bf5;
    cursor:pointer;
}
.btn:hover, .btn:focus{
    border-bottom: 4px solid #fff!important;
}
.up-bar{
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 27% 70%;
}
.image img{
    height: 60px;
    width: 0 auto;
}
