@import url('https://fonts.googleapis.com/css?family=Roboto');

table.fixed {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    column-width: auto;
    text-align: center;
}
th {
    text-align: center;
    background-color: #66ccff;
    border: 1px solid;
    border-color: #E0E0E0;
    border-collapse: collapse;
    padding: 10px 5px;
}
td {
    text-align: center;
    border: 1px solid;
    border-color: #E0E0E0;
    border-collapse: collapse;
    padding: 10px 5px;
}
